# LIBS
- pip install pyeclat

In [7]:
import pandas as pd
from pyECLAT import ECLAT

In [8]:
data_ = pd.read_csv('dados/transacoes.txt', header=None)
data_

         0        1        2
0  Cerveja    Pizza  Sorvete
1    Pizza  Sorvete      NaN
2  Cerveja    Pizza      NaN
3  Cerveja    Pizza  Sorvete
4  Cerveja    Pizza      NaN
5    Pizza      NaN      NaN

# ECLAT
## Mostra a ocorrencia de elementos em transações!

In [9]:
eclat_instance = ECLAT(data=data_, verbose=True)

100%|██████████| 3/3 [00:00<00:00, 1191.45it/s]
100%|██████████| 3/3 [00:00<00:00, 24151.46it/s]
100%|██████████| 3/3 [00:00<00:00, 852.50it/s]

In [10]:
eclat_instance.df_bin

   Sorvete  Cerveja  Pizza
0        1        1      1
1        1        0      1
2        0        1      1
3        1        1      1
4        0        1      1
5        0        0      1

In [11]:
eclat_instance.uniq_

['Sorvete', 'Cerveja', 'Pizza', nan]

# Retorno
'Sorvete&Cerveja': [0, 3],  
-elementos-----------ocorrencias

In [12]:
get_ECLAT_indexes, get_ECLAT_supports = eclat_instance.fit(
    min_support=0.08,
    min_combination=1,
    max_combination=3,
    separator='&',
    verbose=True
)

get_ECLAT_indexes

Combination 1 by 1

3it [00:00, 230.09it/s]

Combination 2 by 2

3it [00:00, 233.41it/s]

Combination 3 by 3

1it [00:00, 217.95it/s]

{'Sorvete': [0, 1, 3],
 'Cerveja': [0, 2, 3, 4],
 'Pizza': [0, 1, 2, 3, 4, 5],
 'Sorvete&Cerveja': [0, 3],
 'Sorvete&Pizza': [0, 1, 3],
 'Cerveja&Pizza': [0, 2, 3, 4],
 'Sorvete&Cerveja&Pizza': [0, 3]}

In [13]:
get_ECLAT_supports

{'Sorvete': 0.5,
 'Cerveja': 0.6666666666666666,
 'Pizza': 1.0,
 'Sorvete&Cerveja': 0.3333333333333333,
 'Sorvete&Pizza': 0.5,
 'Cerveja&Pizza': 0.6666666666666666,
 'Sorvete&Cerveja&Pizza': 0.3333333333333333}