## LIBS
- pip install scikit-learn

In [38]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [39]:
data = pd.read_csv('dados/iris.csv')
data

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [40]:
data['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

## Amostra Estratificada
- Quando ciramos uma amostra contendo todas as classes existentes
- A escolha dos elementos também é aleatória

In [49]:
# Parâmetros
# Todas as instancias com o 4 atributos,
# Todas as intanicas apenas com a classe (quarto atributo)
# test_size = 0.5 (50% do total das classes)
# stratify = Classe para a amostra estratificada
x, _, y, _ = train_test_split(
    data.iloc[:, 0:4], data.iloc[:, 4],
    test_size=0.5, stratify=data.iloc[:, 4]
)
y.value_counts()

class
Iris-versicolor    25
Iris-virginica     25
Iris-setosa        25
Name: count, dtype: int64

In [42]:
x.value_counts()

sepal length  sepal width  petal length  petal width
4.6           3.1          1.5           0.2            1
6.4           2.9          4.3           1.3            1
              2.8          5.6           2.1            1
6.3           3.4          5.6           2.4            1
              3.3          4.7           1.6            1
                                                       ..
5.5           2.4          3.7           1.0            1
5.4           3.9          1.7           0.4            1
              3.7          1.5           0.2            1
              3.4          1.5           0.4            1
7.9           3.8          6.4           2.0            1
Name: count, Length: 75, dtype: int64

## Mais Exemplos

In [43]:
data2 = pd.read_csv('dados/infert.csv')
data2

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [44]:
data2['education'].value_counts()

education
6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: count, dtype: int64

## Amostra Estratificada | 40%
- test_size= -> Retorna o valor faltante

In [51]:
x2, _, y2, _ = train_test_split(
    data2.iloc[:, 2:9], data2.iloc[:, 1],
    test_size=0.6, stratify=data2.iloc[:, 1]
)
y2.value_counts()

education
6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: count, dtype: int64

In [52]:
x2.value_counts()

age  parity  induced  case  spontaneous  stratum  pooled.stratum
31   2       1        0     0            15       21                2
23   1       0        0     1            83       40                2
29   1       0        0     1            82       43                2
42   1       0        0     0            2        1                 2
40   1       0        0     0            21       14                2
                                                                   ..
29   2       0        1     2            55       52                1
28   4       0        0     2            29       34                1
     3       1        1     2            68       58                1
     2       1        1     0            57       51                1
44   1       0        1     1            20       17                1
Name: count, Length: 91, dtype: int64