In [302]:
import pandas as pd
import numpy as np
from math import ceil

## ceil()
- Retorna o maior valor INTEIRO de uma divisão por um numero real

In [303]:
populacao = 150
amostra = 15
k = ceil(populacao / amostra)
k

10

## Amostra Sistemática

### Definindo valor randomico para inicializar a amostra

In [304]:
r = np.random.randint(low=0, high=k, size=1)
r

array([9])

### Buscaremos valores com o intervalo de k (10)

In [305]:
acumulador = r[0]
sorteados = []

for i in range(amostra):
    sorteados.append(acumulador)
    acumulador += k

sorteados

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109, 119, 129, 139, 149]

## DADOS

In [306]:
data = pd.read_csv('dados/iris.csv')
data

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [309]:
amostra_data = data.loc[sorteados]
amostra_data.tail()

     sepal length  sepal width  petal length  petal width           class
109           7.2          3.6           6.1          2.5  Iris-virginica
119           6.0          2.2           5.0          1.5  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [308]:
amostra_data.shape

(15, 5)