In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('dados/iris.csv')
data

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## Amostra Simples

In [40]:
np.random.seed(2345)
amostra_simples = np.random.choice(
    a=[0, 1], size=150, replace=True, p=[0.7, 0.3]
)
len(amostra_simples)

150

In [41]:
len(amostra_simples[amostra_simples == 0])

101

In [42]:
len(amostra_simples[amostra_simples == 1])

49

In [43]:
amostra_simples

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1])

## DADOS

### Amostra de 70%

In [44]:
amostra_data_70 = data.loc[amostra_simples == 0]
amostra_data_70

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[101 rows x 5 columns]

### Amostra de 30%

In [45]:
amostra_data_30 = data.loc[amostra_simples == 1]
amostra_data_30.head()

    sepal length  sepal width  petal length  petal width        class
4            5.0          3.6           1.4          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa

In [46]:
amostra_data_30.shape

(49, 5)