## Packages
- install.packages('mltools')
- install.packages('data.table')

## DB = Titanic
- as.data.frame( ) -> Transforma um conjunto de dados em data frame

In [4]:
library(mltools)
library(data.table)

Titanic
tit = as.data.frame(Titanic)
dim(tit)
head(tit)
summary(tit)

, , Age = Child, Survived = No

      Sex
Class  Male Female
  1st     0      0
  2nd     0      0
  3rd    35     17
  Crew    0      0

, , Age = Adult, Survived = No

      Sex
Class  Male Female
  1st   118      4
  2nd   154     13
  3rd   387     89
  Crew  670      3

, , Age = Child, Survived = Yes

      Sex
Class  Male Female
  1st     5      1
  2nd    11     13
  3rd    13     14
  Crew    0      0

, , Age = Adult, Survived = Yes

      Sex
Class  Male Female
  1st    57    140
  2nd    14     80
  3rd    75     76
  Crew  192     20

[1] 32  5

  Class Sex    Age   Survived Freq
1 1st   Male   Child No        0
2 2nd   Male   Child No        0
3 3rd   Male   Child No       35
4 Crew  Male   Child No        0
5 1st   Female Child No        0
6 2nd   Female Child No        0

  Class       Sex        Age     Survived      Freq
 1st :8   Male  :16   Child:16   No :16   Min.   :  0.00
 2nd :8   Female:16   Adult:16   Yes:16   1st Qu.:  0.75
 3rd :8                                   Median : 13.50
 Crew:8                                   Mean   : 68.78
                                          3rd Qu.: 77.00
                                          Max.   :670.00

## Label Encoder
- data.matrix( ) -> Transforma atributos categóricos em numéricos
- atributos seleconados -> Class, Sex e Age

In [6]:
labenc = data.matrix(tit[, 1:3])
summary(labenc)
head(labenc)

     Class           Sex           Age
 Min.   :1.00   Min.   :1.0   Min.   :1.0
 1st Qu.:1.75   1st Qu.:1.0   1st Qu.:1.0
 Median :2.50   Median :1.5   Median :1.5
 Mean   :2.50   Mean   :1.5   Mean   :1.5
 3rd Qu.:3.25   3rd Qu.:2.0   3rd Qu.:2.0
 Max.   :4.00   Max.   :2.0   Max.   :2.0

     Class Sex Age
[1,] 1     1   1
[2,] 2     1   1
[3,] 3     1   1
[4,] 4     1   1
[5,] 1     2   1
[6,] 2     2   1

## One Hot Enconding
- Trannforma cada valor categóricos em uma coluna numérica.
- Seu valor é reprentado com 1, na coluna indicada
- exemplo -> (0, 0, 1, 0) = Class = 3rd

In [7]:
hotenc = one_hot(as.data.table(tit[, 1:3]))
summary(hotenc)
head(hotenc)

   Class_1st      Class_2nd      Class_3rd      Class_Crew      Sex_Male
 Min.   :0.00   Min.   :0.00   Min.   :0.00   Min.   :0.00   Min.   :0.0
 1st Qu.:0.00   1st Qu.:0.00   1st Qu.:0.00   1st Qu.:0.00   1st Qu.:0.0
 Median :0.00   Median :0.00   Median :0.00   Median :0.00   Median :0.5
 Mean   :0.25   Mean   :0.25   Mean   :0.25   Mean   :0.25   Mean   :0.5
 3rd Qu.:0.25   3rd Qu.:0.25   3rd Qu.:0.25   3rd Qu.:0.25   3rd Qu.:1.0
 Max.   :1.00   Max.   :1.00   Max.   :1.00   Max.   :1.00   Max.   :1.0
   Sex_Female    Age_Child     Age_Adult
 Min.   :0.0   Min.   :0.0   Min.   :0.0
 1st Qu.:0.0   1st Qu.:0.0   1st Qu.:0.0
 Median :0.5   Median :0.5   Median :0.5
 Mean   :0.5   Mean   :0.5   Mean   :0.5
 3rd Qu.:1.0   3rd Qu.:1.0   3rd Qu.:1.0
 Max.   :1.0   Max.   :1.0   Max.   :1.0

  Class_1st Class_2nd Class_3rd Class_Crew Sex_Male Sex_Female Age_Child
1 1         0         0         0          1        0          1
2 0         1         0         0          1        0          1
3 0         0         1         0          1        0          1
4 0         0         0         1          1        0          1
5 1         0         0         0          0        1          1
6 0         1         0         0          0        1          1
  Age_Adult
1 0
2 0
3 0
4 0
5 0
6 0