In [77]:
import pandas as pd
import statistics as sts

DB_PATH = 'C:\\Users\\glauc\\OneDrive\\Área de Trabalho\\data_science\\studies\\FormacaoCD\\10.Prática em Python\\dados\\tempo.csv'
data = pd.read_csv(DB_PATH, sep=';')
data.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

# Null values

In [78]:
data.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

# Aparências

In [79]:
aparencias = data.groupby(['Aparencia']).size()
aparencias

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [80]:
data.loc[data['Aparencia'] == 'menos', 'Aparencia'] = 'sol'
aparencias = data.groupby(['Aparencia']).size()
aparencias

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

# Temperatura

In [81]:
data['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [82]:
media_temp = sts.median(data['Temperatura'], )
media_temp
type(media_temp)

float

# Erro
- O erro abaixo parece ser um bug! Em fóruns, o indicado é fazer downgrade da versão
do pandas!

In [83]:
data.loc[data['Temperatura'] > 130, 'Temperatura'] = media_temp
data['Temperatura'].describe()

C:\Users\glauc\AppData\Local\Temp\ipykernel_6748\451984092.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '73.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data['Temperatura'] > 130, 'Temperatura'] = media_temp

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

# Umidade

In [84]:
media_umi = sts.median(data['Umidade'])
media_umi

85.5

In [85]:
data['Umidade'].fillna(media_umi, inplace=True)
data.isnull().sum()
media_umi = sts.median(data['Umidade'])
media_umi

85.25

In [86]:
data['Umidade'].describe()

count     14.000000
mean      89.464286
std       33.204763
min       65.000000
25%       71.250000
50%       85.250000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [87]:
data.loc[data['Umidade'] > 100, 'Umidade'] = media_umi
data['Umidade'].describe()

count    14.000000
mean     81.267857
std       9.576847
min      65.000000
25%      71.250000
50%      85.125000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

# Vento

In [88]:
ventos = data.groupby(['Vento']).size()
ventos

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [89]:
data['Vento'].fillna('FALSO', inplace=True)
ventos = data.groupby(['Vento']).size()
ventos

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

# Jogar

In [90]:
jogadas = data.groupby(['Jogar']).size()
jogadas

Jogar
nao    5
sim    9
dtype: int64